.btn-default{
    border: solid 2px #79FAB6;
    color: #fff;
    font-size: 12px;
    padding: 10px 25px;
    width: 100%;
    max-width: 220px;
}

.btn-default:hover {
    color: #79FAB6;
}

.color-v.title{
    font-size: 30px;
}

.color-v{
    color: #79FAB6;
}

.id-cont{
    width: 50px;
    height: 50px;
    border: solid 1px #79FAB6;
    padding: 12px 16px;
}

hr {
    background-color: #181925;
}

.icon-btn{
    font-size: 20px;
    padding-right: 5px;
    float: left;
}

div{
    color: #fff;
}

a{
    color: #fff;
    text-decoration: underline;
}

a:hover{
    color: #79FAB6;
}

#app{
    margin: inherit;
}

h1{
    text-align: left;
}
.cont-table {
    width: 100%;
    overflow: auto;
}

@media screen and (max-width: 576px) {
    h1{
        font-size: 20px;
    }
    .btn-default{
        max-width: 200px;
    }
    .name-sf {
        font-size: 20px !important;
    }
    .breadcrumb-item {
        width: 100%;
    }
}
