.tab-table {
    color: #fff;
    background: #080A12;
    
}
.table-hover tbody tr:hover {
    color: #79FAB6;
}
.table tr th {
    background: #080A12;
    border-top: 0px solid #080A12;
}
.table tr td {
    border-top: 10px solid #080A12;
    background: #181925;
    padding: 20px;
    
}
.table tr td, .table tr th{
    text-align: center;
}
.table tr td:first-child {
    border-top: 10px solid #080A12;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #181925;
    
}
.table tr td:last-child {
    border-top: 10px solid #080A12;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #181925;
}
.table th, .table td {
    vertical-align: inherit;
}